*,body{
    margin: 0;
    padding:0;
}
p{
    font-size: 14px;
}
.navbar-nav .nav-item .nav-link{
    padding: 13px 15px;
    color: black;
   font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover{
     background-color: brown;
    color: white;
}
.navbar-nav .nav-item.active .nav-link{
    background-color: brown;
    color: white;
}
.descr p {
    font-size: 14px;
    color: #222;
}
.card ul li{
    list-style-type: none;
    font-size: 14px;
}
.card i.fa {
    padding-right: 10px;
}
.client img{
    width: 100px;
    height: auto;
}
li{
    list-style-type: none;
}
.client {
    padding: 10px 0;
    text-align: center;
    /* background-color: #f5f6fb; */
    border-top-left-radius: 45px;
    /* border-bottom-left-radius: 45px; */
    border-bottom-right-radius: 45px;
}
.client p.card-text{
font-size: 14px;
letter-spacing: 0.5px;
font-style: italic;
color: #8b8b99;
}
section.copy{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    background-color: rgb(92, 86, 86);
    color: white;
    text-align: center;
}
section.copy p{
    margin: 0px;
}
.social a{
    padding-right: 10px;
}
.social a i.fa{
color:white;
}